/* Section styling */
.featured-courses {
  padding: 2rem 1rem;
  background-color: #f9f9f9;
  text-align: center;
}

.featured-courses h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color:rgb(6, 52, 84);

}

/* Slider container with buttons */
.slider-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* Scroll buttons */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color:#0288d1;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-btn:hover {
  background-color: #01579b;
  transform: scale(1.1);
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
} 

/* Slider container */
.course-slider {

  border-radius: 10px;
  display: flex;
  overflow: hidden;
  gap: 1rem;
  scroll-behavior: smooth;
  padding: 1rem;
  width: 100%;
}

/* Flashcard styling */
.course-card {
  flex: 0 0 auto;
  width: 200px; 
  height: 250px;
  background: linear-gradient(to bottom, #e3f2fd, #f1f8ff);
  color: #0d47a1;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color:rgb(240, 243, 246);
}

.course-card h3 {
  font-weight: 700;
   color: #0d47a1;
   margin-bottom: 10px;
}

.course-card p {
  color: #607d8b;
   font-size: 14px;
}

/* University logo */
.university-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  object-fit: cover;
  background-color: white;

}
