.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: lightblue;
  background-size: cover;
  color: black;
  height: 86.5vh; 
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}


.hero-gif { 
  flex: 2;
  display: flex;
  justify-content: left;
  align-items: left;

}

.hero-gif img {
  max-width: none; 

  width: 50%; 

  height: auto; 
}

.hero-content {
  flex: 1.2;
  text-align: center;

  padding: 1rem;
}

.hero-content h1 {
  font-size: 3rem;
font-weight: 700;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.advisor-section h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    height: auto; /* Adjust height for smaller screens */
    padding: 1rem;
  }

  .hero-container {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }

  .hero-gif {
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
}